---
import Layout from '@components/layout/Layout.astro'
import InputText from '@components/features/form/InputText.astro'
---

<Layout title="Newt・Astroブログ" description="NewtとAstroを利用したブログです">
  <form method="post" action="https://kanban.form.newt.so/v1/oANOMW3LL">
    <InputText
      id="formName"
      name="full_name"
      placeholder='看板太郎'
      required={true} />
    <InputText
      id="formEmail"
      name="email_address"
      type='email'
      placeholder='kanban@example.com'
      required={true} />
    <textarea name="body" required></textarea>
    <button
      type="submit"
      class="g-recaptcha" 
      data-sitekey="reCAPTCHA_site_key" 
      data-callback='onSubmit' 
      data-action='submit'>
      Submit
    </button>
  </form>
</Layout>