---
const baseUrl = import.meta.env.BASE_URL
---

<header class="pt-8">
  <ul class="flex justify-end">
    <li><a class="px-4 py-2" href=`${baseUrl}`>top</a></li>
    <li><a class="px-4 py-2" href=`${baseUrl}news`>news</a></li>
    <li><a class="px-4 py-2" href=`${baseUrl}form`>form</a></li>
  </ul>
</header>