<header class="pt-8">
  <ul class="flex justify-end">
    <li><a class="px-4 py-2" href="/">top</a></li>
    <li><a class="px-4 py-2" href="/news">news</a></li>
    <li><a class="px-4 py-2" href="/form">form</a></li>
  </ul>
</header>